<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/test1/modal.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="/test1/div.js"></script>
    <script src="/test1/input.js"></script>
    <script src="/test1/button.js"></script>
</head>
<body>
<div id="jquery-test-1">클릭하세요</div>
<div id="hide-test-1">짜잔</div>
<input type="text" id="userId" name="userId">
<button id="ajax-test">ajax test..</button>
<button id="ajax-test-post">ajax post test..</button>
<div id="ajax-post-result"></div>
<label id="validationId" class="red"/>
<div id="html-test"></div>
</body>
</html>